/* Large viewport or screen */
@media (max-width: 1199px) {
    
}


/* Medium viewport or screen */
@media (max-width: 991px) {
    .heading-base{
        font-size: 20px;
    }
}


/* Small viewport or screen */
@media (max-width: 767px) {
.showcase-heading{
    font-size: 29px;
    }
    .navbar-toggle{
        background: $default-color;
        @include border-radius(0px);
        span{
            background: $primary-color;
        }
    }
    .img-n-details, .overlay-on-img{
        max-width: 350px;        
    }
    .blog-single-page .img-n-details{
        max-width: 100%;
    }
}


/* mobile viewport or screen */
@media (max-width: 575px) {
.showcase-detail{
    display: inline-block !important;
    }
.showcase-heading{
    font-size: 24px;
    line-height: 35px;
    }
.showcase-img{
    float: none;
    display: inline-block;
    max-width: 70%;
    }
    form .form-control{
        width: 85%;
    }
}